
/*
POSITION
--------
Miscellaneous mixins for positioning objects.
 */

// Cover the parent element completely.
@mixin position-cover($position: absolute) {
  bottom: 0;
  left: 0;
  position: $position;
  right: 0;
  top: 0;
}

@mixin position-absolute-center() {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin position-flexbox-center($display: flex) {
  align-items: center;
  display: $display;
  justify-content: center;
}
