
/*
FONTS
-----
Declare all local fonts here.
 */

/*
@font-face {
  font-family: 'example';
  font-style: normal;
  font-weight: normal;
  src:
    url('assets/fonts/example.woff2') format('woff2'),
    url('assets/fonts/example.woff') format('woff');
}
*/
