
/*
GLOBAL
------
The global settings file contains any project-wide variables; things that need
to be made available to the entire codebase.
 */

$global-radius: 2px;

$global-transition: all 0.3s ease;

$global-border-style : 1px solid;
$global-border-color:   #2928FD;

